{"openapi":"3.0.0","info":{"title":"Docs API Reference","version":"v1","description":"Docs Api secification and documentation.","termsOfService":"","license":null,"contact":{"url":"v1"},"x-logo":{"url":"https:\/\/server49.mevivu.com\/banhang\/public\/assets\/images\/logo.png","altText":"Docs API Reference","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"X-TOKEN-ACCESS":{"type":"http","scheme":"string"}},"schemas":[]},"servers":[{"url":"https:\/\/server49.mevivu.com\/banhang","description":"Documentation generator server."}],"paths":{"\/api\/v1\/register-info-send-email":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Thong bao dang ky email"],"operationId":"G\u1eedi th\u00f4ng b\u00e1o \u0111\u1ebfn mail","description":"G\u1eedi th\u00f4ng tin \u0111\u0103ng k\u00fd \u0111\u1ebfn mail admin","requestBody":{"description":"G\u1eedi th\u00f4ng tin \u0111\u0103ng k\u00fd \u0111\u1ebfn mail admin","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","email","phone","address"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean."},"email":{"type":"string","example":"example@gmail.com","description":"Email ng\u01b0\u1eddi d\u00f9ng."},"phone":{"type":"string","example":"example@gmail.com","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i ng\u01b0\u1eddi d\u00f9ng."},"address":{"type":"string","example":"998\/42\/15 Quang Trung","description":"\u0110\u1ecba ch\u1ec9 ng\u01b0\u1eddi d\u00f9ng."},"message":{"type":"string","example":"You send message","description":"L\u1eddi nh\u1eafn."}},"example":{"fullname":"Nguyen Van A","email":"example@gmail.com","phone":"example@gmail.com","address":"998\/42\/15 Quang Trung","message":"You send message"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register-info-send-email\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"phone\"=\"example@gmail.com\" \\\n    -d \"address\"=\"998\/42\/15 Quang Trung\" \\\n    -d \"message\"=\"You send message\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register-info-send-email\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"email\": \"example@gmail.com\",\n    \"phone\": \"example@gmail.com\",\n    \"address\": \"998\/42\/15 Quang Trung\",\n    \"message\": \"You send message\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"email\" =>  \"example@gmail.com\",\n    \"phone\" =>  \"example@gmail.com\",\n    \"address\" =>  \"998\/42\/15 Quang Trung\",\n    \"message\" =>  \"You send message\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register-info-send-email\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/setting":{"get":{"tags":["C\u00e0i \u0111\u1eb7t"],"operationId":"T\u1ea5t c\u1ea3 th\u00f4ng tin c\u00e0i \u0111\u1eb7t","description":"L\u1ea5y t\u1ea5t c\u1ea3 th\u00f4ng tin c\u00e0i \u0111\u1eb7t trong admin.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"name":"Home page","desc":"321","items":[{"site_name":"Site name"},{"site_logo":"http:\/\/localhost:8888\/banhang\/public\/assets\/images\/logo.png"},{"site_favicon":"http:\/\/localhost:8888\/banhang\/public\/assets\/images\/logo.png"},{"email":"mevivu@gmail.com"},{"hotline":"0999999999"},{"address":"998\/42\/15 Quang Trung, GV"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/setting\/show\/{setting_key}":{"get":{"tags":["C\u00e0i \u0111\u1eb7t"],"operationId":"Chi ti\u1ebft c\u00e0i \u0111\u1eb7t","description":"L\u1ea5y chi ti\u1ebft c\u00e0i \u0111\u1eb7t.","parameters":[{"in":"path","name":"setting_key","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"string","example":"site_name"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\/show\/{setting_key}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\/show\/{setting_key}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/setting\/show\/{setting_key}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/slider\/show\/{key}":{"get":{"tags":["Slider"],"operationId":"Chi ti\u1ebft slider","description":"L\u1ea5y chi ti\u1ebft slider.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"name":"Home page","desc":"321","items":[{"title":"slider 1","link":"#","image":"http:\/\/domain.com\/public\/uploads\/files\/img-catesound.png","mobile_image":"http:\/\/domain.com\/public\/uploads\/files\/airpods-2268.jpeg"},{"title":"slider 2","link":"#","image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/mac.png","mobile_image":"http:\/\/localhost\/topzone\/public\/uploads\/files\/mac.png"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/slider\/show\/{key}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/slider\/show\/{key}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/slider\/show\/{key}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-wishlist":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m y\u00eau th\u00edch"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-wishlist\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m y\u00eau th\u00edch"],"operationId":"Y\u00eau th\u00edch s\u1ea3n ph\u1ea9m","description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o danh s\u00e1ch y\u00eau th\u00edch.","requestBody":{"description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o danh s\u00e1ch y\u00eau th\u00edch.","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-wishlist\/remove":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["S\u1ea3n ph\u1ea9m y\u00eau th\u00edch"],"operationId":"X\u00f3a sp Y\u00eau th\u00edch","description":"X\u00f3a s\u1ea3n ph\u1ea9m kh\u1ecfi danh s\u00e1ch y\u00eau th\u00edch.","requestBody":{"description":"X\u00f3a s\u1ea3n ph\u1ea9m kh\u1ecfi danh s\u00e1ch y\u00eau th\u00edch.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["product_id"],"properties":{"product_id":{"type":"integer","example":13,"description":""}},"example":{"product_id":13}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/remove\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"product_id\"=\"13\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/remove\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"product_id\": \"13\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"product_id\" =>  \"13\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-wishlist\/remove\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"Danh s\u00e1ch \u0111\u01a1n h\u00e0ng","description":"L\u1ea5y danh s\u00e1ch \u0111\u01a1n h\u00e0ng c\u1ee7a user.","parameters":[{"in":"query","name":"status","description":"tr\u1ea1ng th\u00e1i \u0111\u01a1n h\u00e0ng: 1: \u0111ang x\u1eed l\u00fd; 2: \u0111\u00e3 x\u1eed l\u00fd; 3: \u0111\u00e3 ho\u00e0n th\u00e0nh; 4: \u0111\u00e3 h\u1ee7y.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"total":2970000,"status":1,"created_at":"2023-04-05T02:31:15.000000Z","product":{"id":2,"name":"Iphone 15","qty":15,"unit_price":2000000,"slug":"iphone-15","avatar":"http:\/domain.com\/public\/assets\/images\/default-image.png"}}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\");\n\nlet params = {\n    \"status\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"status\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"T\u1ea1o \u0111\u01a1n h\u00e0ng","description":"T\u1ea1o \u0111\u01a1n h\u00e0ng c\u1ee7a user.","requestBody":{"description":"T\u1ea1o \u0111\u01a1n h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["customer_fullname","customer_phone","customer_email","shipping_address","payment_method"],"properties":{"customer_fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean kh\u00e1ch h\u00e0ng."},"customer_phone":{"type":"phone","example":"0999999999","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i."},"customer_email":{"type":"email","example":"example@gmail.com","description":"Email c\u1ee7a kh\u00e1ch h\u00e0ng."},"shipping_address":{"type":"string","example":"998 Quang trung, GV","description":"\u0110\u1ecba ch\u1ec9 giao h\u00e0ng."},"payment_method":{"type":"integer","example":1,"description":"Ph\u01b0\u01a1ng th\u1ee9c thanh to\u00e1n 1: COD; 2: Chuy\u1ec3n kho\u1ea3n."},"note":{"type":"string","example":"Giao tr\u01b0\u1edbc t7","description":"Ghi ch\u00fa KH."}},"example":{"customer_fullname":"Nguyen Van A","customer_phone":"0999999999","customer_email":"example@gmail.com","shipping_address":"998 Quang trung, GV","payment_method":1,"note":"Giao tr\u01b0\u1edbc t7"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"order_id":5}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"customer_fullname\"=\"Nguyen Van A\" \\\n    -d \"customer_phone\"=\"0999999999\" \\\n    -d \"customer_email\"=\"example@gmail.com\" \\\n    -d \"shipping_address\"=\"998 Quang trung, GV\" \\\n    -d \"payment_method\"=\"1\" \\\n    -d \"note\"=\"Giao tr\u01b0\u1edbc t7\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"customer_fullname\": \"Nguyen Van A\",\n    \"customer_phone\": \"0999999999\",\n    \"customer_email\": \"example@gmail.com\",\n    \"shipping_address\": \"998 Quang trung, GV\",\n    \"payment_method\": \"1\",\n    \"note\": \"Giao tr\u01b0\u1edbc t7\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"customer_fullname\" =>  \"Nguyen Van A\",\n    \"customer_phone\" =>  \"0999999999\",\n    \"customer_email\" =>  \"example@gmail.com\",\n    \"shipping_address\" =>  \"998 Quang trung, GV\",\n    \"payment_method\" =>  \"1\",\n    \"note\" =>  \"Giao tr\u01b0\u1edbc t7\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/cancel":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"H\u1ee7y \u0111\u01a1n h\u00e0ng","description":"H\u1ee7y \u0111\u01a1n h\u00e0ng c\u1ee7a user.","requestBody":{"description":"H\u1ee7y \u0111\u01a1n h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","example":1,"description":"id \u0111\u01a1n h\u00e0ng."}},"example":{"id":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/cancel\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"id\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/cancel\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id\": \"1\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/cancel\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/order\/show\/{id}":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u01a1n h\u00e0ng"],"operationId":"Chi ti\u1ebft \u0111\u01a1n h\u00e0ng","description":"L\u1ea5y chi ti\u1ebft \u0111\u01a1n h\u00e0ng c\u1ee7a user. <br\/>\nV\u1edbi payment_method: 1: Thanh to\u00e1n ti\u1ec1n m\u1eb7t; 2: Chuy\u1ec3n kho\u1ea3n. <br\/>\nV\u1edbi shipping_method: 1: V\u1eadn chuy\u1ec3n 247.","parameters":[{"in":"path","name":"id","description":"id c\u1ee7a \u0111\u01a1n h\u00e0ng.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"customer_fullname":"Truong","customer_phone":"0999999999","customer_email":"truonng@gmail.com","shipping_address":"998","sub_total":3188000,"discount":0,"total":3188000,"status":1,"payment_method":1,"shipping_method":1,"note":null,"created_at":"2023-04-05T02:31:15.000000Z","details":[{"id":2,"name":"Iphone 15","qty":5,"unit_price":2000000,"unit_price_purchase_qty":9000000,"slug":"iphone-15","avatar":"http:\/domain.com\/public\/assets\/images\/default-image.png"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/show\/{id}\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/show\/{id}\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/order\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m trong gi\u1ecf h\u00e0ng","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m trong gi\u1ecf h\u00e0ng c\u1ee7a user.\n\n<ul>\n<li><strong>Trong purchase_qty c\u00f3 type<\/strong>:\n     <ul>\n         <li>1: Gi\u1ea3m theo s\u1ed1 ti\u1ec1n<\/li>\n         <li>2: Gi\u1ea3m theo ph\u1ea7n tr\u0103m<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"qty":2,"product":{"id":5,"name":"Iphone 16","slug":"iphone-16-1","in_stock":true,"feature_image":"\/public\/assets\/images\/default-image.png"}}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng","description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a user.\n\nL\u01b0u \u00fd: Trong m\u1ea3ng product_id s\u1ebd t\u01b0\u01a1ng \u1ee9ng v\u1edbi m\u1ea3ng qty.","requestBody":{"description":"Th\u00eam s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a user.\n\nL\u01b0u \u00fd: Trong m\u1ea3ng product_id s\u1ebd t\u01b0\u01a1ng \u1ee9ng v\u1edbi m\u1ea3ng qty.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["product_id[]","qty[]"],"properties":{"product_id[]":{"type":"integer","example":1,"description":"id s\u1ea3n ph\u1ea9m."},"qty[]":{"type":"integer","example":1,"description":"S\u1ed1 l\u01b0\u1ee3ng s\u1ea3n ph\u1ea9m."}},"example":{"product_id[]":1,"qty[]":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"product_id[]\"=\"1\" \\\n    -d \"qty[]\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"product_id[]\": \"1\",\n    \"qty[]\": \"1\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"product_id[]\" =>  \"1\",\n    \"qty[]\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/update":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"C\u1eadp nh\u1eadt gi\u1ecf h\u00e0ng","description":"C\u1eadp nh\u1eadt ho\u1eb7c x\u00f3a item gi\u1ecf h\u00e0ng c\u1ee7a user.","requestBody":{"description":"C\u1eadp nh\u1eadt ho\u1eb7c x\u00f3a item gi\u1ecf h\u00e0ng c\u1ee7a user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["id[]","qty[]"],"properties":{"id[]":{"type":"integer","example":1,"description":"Danh s\u00e1ch id item gi\u1ecf h\u00e0ng."},"qty[]":{"type":"integer","example":1,"description":"Danh s\u00e1ch qty ph\u1ea3i t\u01b0\u01a1ng \u1ee9ng v\u1edbi ds id (n\u1ebfu qty = 0 item s\u1ebd b\u1ecb x\u00f3a)."}},"example":{"id[]":1,"qty[]":1}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/update\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"id[]\"=\"1\" \\\n    -d \"qty[]\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/update\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id[]\": \"1\",\n    \"qty[]\": \"1\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id[]\" =>  \"1\",\n    \"qty[]\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/update\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/shopping-cart\/delete":{"delete":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Gi\u1ecf h\u00e0ng"],"operationId":"X\u00f3a item gi\u1ecf h\u00e0ng","description":"Truy\u1ec1n v\u00e0o m\u1ea3ng id item gi\u1ecf h\u00e0ng \u0111\u1ec3 x\u00f3a.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/delete\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"id[]\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/delete\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"id[]\": \"1\",\n})\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"id[]\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/shopping-cart\/delete\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-category":{"get":{"tags":["Danh m\u1ee5c s\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch danh m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch danh m\u1ee5c.","parameters":[{"in":"query","name":"show_home","description":"Hi\u1ec3n th\u1ecb \u1edf trang ch\u1ee7 v\u1edbi 1: kh\u00f4ng; 2: c\u00f3.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","avatar":null,"icon":null,"children":[{"id":8,"name":"child 3","slug":"child-3","avatar":null}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\");\n\nlet params = {\n    \"show_home\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"show_home\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-category\/show\/{id}":{"get":{"tags":["Danh m\u1ee5c s\u1ea3n ph\u1ea9m"],"operationId":"Chi ti\u1ebft danh m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft danh m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c slug danh m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reviews":{"get":{"tags":["\u0110\u00e1nh gi\u00e1 s\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch review c\u1ee7a s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch review c\u1ee7a s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"product_id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"fullname":"Tran Van A","avatar":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","content":"content","rating":5}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews\");\n\nlet params = {\n    \"product_id\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"product_id\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reviews\/store":{"post":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["\u0110\u00e1nh gi\u00e1 s\u1ea3n ph\u1ea9m"],"operationId":"T\u1ea1o \u0111\u00e1nh gi\u00e1","description":"T\u1ea1o \u0111\u00e1nh gi\u00e1 cho s\u1ea3n ph\u1ea9m.","requestBody":{"description":"T\u1ea1o \u0111\u00e1nh gi\u00e1 cho s\u1ea3n ph\u1ea9m.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["product_id","rating"],"properties":{"product_id":{"type":"integer","example":1,"description":"id s\u1ea3n ph\u1ea9m."},"rating":{"type":"integer","example":5,"description":"X\u1ebfp h\u1ea1ng \u0111\u00e1nh gi\u00e1."},"content":{"type":"string","example":"content","description":"N\u1ed9i dung \u0111\u00e1nh gi\u00e1."}},"example":{"product_id":1,"rating":5,"content":"content"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":10,"fullname":"Tran Van A","avatar":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","content":"content","rating":5}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews\/store\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"product_id\"=\"1\" \\\n    -d \"rating\"=\"5\" \\\n    -d \"content\"=\"content\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews\/store\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"product_id\": \"1\",\n    \"rating\": \"5\",\n    \"content\": \"content\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"product_id\" =>  \"1\",\n    \"rating\" =>  \"5\",\n    \"content\" =>  \"content\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reviews\/store\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"keywords","description":"T\u1eeb kh\u00f3a s\u1ea3n ph\u1ea9m.","required":false,"schema":{"type":"string","example":"ipad"}},{"in":"query","name":"feature","description":"S\u1ea3n ph\u1ea9m n\u1ed5i b\u1eadc: 1: Khong; 2: C\u00f3.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"new","description":"S\u1ea3n ph\u1ea9m m\u1edbi: 1: Kh\u00f4ng; 2: C\u00f3.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\");\n\nlet params = {\n    \"keywords\": \"ipad\",\n    \"feature\": \"1\",\n    \"new\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"keywords\" => \"ipad\",\n    \"feature\" => \"1\",\n    \"new\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/show\/{id}":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"chi ti\u1ebft s\u1ea3n ph\u1ea9m","description":"L\u1ea5y ti\u1ebft c\u1ee7a s\u1ea3n ph\u1ea9m.\nV\u1edbi in_stock = 1 c\u00f2n h\u00e0ng v\u00e0 in_stock = 2 h\u1ebft h\u00e0ng.","parameters":[{"in":"path","name":"id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/categories":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Danh s\u00e1ch chuy\u00ean m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch chuy\u00ean m\u1ee5c.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","children":[{"id":8,"name":"child 3","slug":"child-3"}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/categories\/show\/{id}":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Chi ti\u1ebft chuy\u00ean m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft chuy\u00ean m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c chuy\u00ean m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"name":"children","slug":"children","parents":[{"id":7,"name":"parent","slug":"parent"}],"posts":[{"id":2,"title":"iphone 15 sap ra","slug":"iphone-15-sap-ra","feature_image":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","excerpt":null,"posted_at":"2023-04-18 15:08:56"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","feature_image":"http:\/\/domain.com\/public\/uploads\/images\/accnhi96141892532044.png","excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/show\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"Chi ti\u1ebft b\u00e0i vi\u1ebft","description":"L\u1ea5y chi ti\u1ebft b\u00e0i vi\u1ebft.","parameters":[{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/domain.com\/public\/uploads\/images\/1597766959764584432044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","content":"<p>H&eacute; l\u1ed9 ios 17 s\u1eafp ra m\u1eaft<\/p>","posted_at":"2023-04-19 10:12:57"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/related\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft li\u00ean quan","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft li\u00ean quan.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/domain.com\/public\/uploads\/images\/accnhi96141892532044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/pages\/show\/{id_or_slug}":{"get":{"tags":["Trang"],"operationId":"Chi ti\u1ebft trang","description":"L\u1ea5y chi ti\u1ebft trang.","parameters":[{"in":"path","name":"id","description":"id_or_slug trang.","required":true,"schema":{"type":"string","example":"1"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/pages\/show\/{id_or_slug}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/pages\/show\/{id_or_slug}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/pages\/show\/{id_or_slug}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y th\u00f4ng tin user","description":"L\u1ea5y user hi\u1ec7n t\u1ea1i th\u00f4ng qua access_token. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<li><strong>Trong level c\u00f3 type_discount<\/strong>:\n     <ul>\n         <li>1: Gi\u1ea3m theo s\u1ed1 ti\u1ec1n<\/li>\n         <li>2: Gi\u1ea3m theo ph\u1ea7n tr\u0103m<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt","description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","requestBody":{"description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","email","gender"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"gender":{"type":"integer","example":1,"description":"Gi\u1edbi t\u00ednh C\u1ee7a b\u1ea1n."},"address":{"type":"string","example":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM","description":"\u0110\u1ecba ch\u1ec9 hi\u1ec7n t\u1ea1i c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","email":"example@gmail.com","gender":1,"address":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":1,"username":"0999999999","fullname":"Nguyen Van A","email":"example@gmail.com","phone":"0999999999","address":"998\/42\/15","gender":1,"created_at":"2023-03-16T05:06:44.000000Z"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"gender\"=\"1\" \\\n    -d \"address\"=\"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"email\": \"example@gmail.com\",\n    \"gender\": \"1\",\n    \"address\": \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"email\" =>  \"example@gmail.com\",\n    \"gender\" =>  \"1\",\n    \"address\" =>  \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth\/update-password":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u","description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","requestBody":{"description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["old_password","password","password_confirmation"],"properties":{"old_password":{"type":"string","example":"123","description":"M\u1eadt kh\u1ea9u c\u0169 c\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"old_password":"123","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"old_password\"=\"123\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"old_password\": \"123\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"old_password\" =>  \"123\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/register":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng k\u00fd","description":"T\u1ea1o m\u1edbi 1 user.","requestBody":{"description":"T\u1ea1o m\u1edbi 1 user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","phone","email","password","password_confirmation"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"phone":{"type":"string","example":"0999999999","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a b\u1ea1n(\u0110\u00fang \u0111\u1ecbnh d\u1ea1ng s\u1ed1 \u0111i\u1ec7n tho\u1ea1i)."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","phone":"0999999999","email":"example@gmail.com","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"phone\"=\"0999999999\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"phone\": \"0999999999\",\n    \"email\": \"example@gmail.com\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"phone\" =>  \"0999999999\",\n    \"email\" =>  \"example@gmail.com\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/login":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng nh\u1eadp","description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","requestBody":{"description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["username","password"],"properties":{"username":{"type":"string","example":"0999999999","description":"T\u00ean t\u00e0i kho\u1ea3n l\u00e0 s\u1ed1 \u0111i\u1ec7n tho\u1ea1i."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"username":"0999999999","password":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"\u0110\u0103ng nh\u1eadp th\u00e0nh c\u00f4ng.","access_token":"1|WhUre3Td7hThZ8sNhivpt7YYSxJBWk17rdndVO8K"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"username\"=\"0999999999\" \\\n    -d \"password\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"username\": \"0999999999\",\n    \"password\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"username\" =>  \"0999999999\",\n    \"password\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reset-password":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u","description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","requestBody":{"description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."}},"example":{"email":"example@gmail.com"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng. Vui l\u00f2ng ki\u1ec3m tra email c\u1ee7a b\u1ea1n \u0111\u1ec3 l\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"email\"=\"example@gmail.com\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"email\": \"example@gmail.com\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"email\" =>  \"example@gmail.com\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[]}